<h1 class="center text-align-center">Administrative tools</h1>

<div class="adminToolbox center text-align-center">
    <h2 class="adminToolboxSubheading">Functions</h2>
    <a href="/admin/bookAdd"><p>Add a new book</p></a>
    <p>Remove a book</p>
    <a href="/admin/bookRequests"><p>View book requests</p></a>

    <h2 class="adminToolboxSubheading">Moderation</h2>
    <p>Mute a user</p>
    <p>Ban a user</p>
    <p>Delete review(s) from a book</p>

</div>

<a href="."><p class="backButton text-align-right">Back</p></a>