<form action="#">
  <div class="signup-form">
    <h1 class="signup-header">Send a Book Request!</h1>
    <p class="signup-instructions">Fill in this form to request a book be added to the database!</p>
    <div class="signup-horizontal-line"></div>

    <p class="loginErrorMessage text-align-center">Username is invalid, please try again</p>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Username" name="username" required>
    
    <label for="bookTitle"><b>Book Title</b></label>
    <input type="text" placeholder="Enter Book Title" name="bookTitle" required>

    <label for="author"><b>Author</b></label>
    <input type="text" placeholder="Enter Author Name" name="author" required>

    <label for="description"><b>Description</b></label>
    <input type="text" placeholder="Enter Book Description" name="description" required>

    <label for="bookSellerLink"><b>Bookseller Link</b></label>
    <input type="text" placeholder="Enter Bookseller Link" name="bookSellerLink" required>

    <label for="image"><b>Cover Image</b></label>
    <input type="text" placeholder="Enter Image Link to Book Cover" name="image" required>

    <div class="signup-buttons">
      <button type="button" class="cancelbtn"><a href="/">Cancel</a></button>
      <button type="submit" class="signupbtn">Send Request</button>
    </div>
  </div>
</form>