<script>
    setTimeout(function(){
    window.location.href = '/';
    }, 4000);
</script>

<!-- Displays success message and redirects to home page after 4 seconds -->
<h1 class="signupSuccessHeading">Book Request Sucessful!</h1>
