<script>
    setTimeout(function(){
    window.location.href = '/login';
    }, 5000);
</script>

<!-- Displays success message and redirects to login page after 4 seconds -->
<h1 class="signupSuccessHeading">Signup Sucessful!</h1>