<form action="#">
  <div class="signup-form">
    <h1 class="signup-header">Sign Up To MyBookList!</h1>
    <p class="signup-instructions">Please fill in this form to create an account.</p>
    <div class="signup-horizontal-line"></div>

    <p class="loginErrorMessage text-align-center">Username is already taken. Please try again</p>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" required>

    <div class="signup-buttons">
      <button type="button" class="cancelbtn"><a href="/">Cancel</a></button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>