<script>
    function updateCoverImg() {
        document.getElementById("tempCover").src = document.getElementById("coverUrl").value;
    }
</script>

<div class="grid-container justify-content-center">
    <div class="grid-item size-12@p size-11@l">
        <form action="#">
            <div class="grid-container justify-content-center">

                {{!-- Send a Book Request! header --}}
                <div class="grid-item size-12@p size-12@l">
                    <h1 class="text-align-center text-big-header">Send a Book Request!</h1>
                    <p class="text-align-center padding-small">Fill in this form to request a book be added to the
                        database!</p>
                </div>
                <div class="grid-item size-12@p size-12@l horizontal-line"></div>

                {{!-- Error message --}}
                <div class="grid-item size-12@p size-12@l">
                    <p class="text-align-center color-red">Book Request failed, please try again</p>
                </div>

                {{!-- Book Cover image --}}
                <div class="grid-item size-12@p size-3@l">
                    <div class="listing-book-item" style="padding: 0px; padding-bottom: 5px;">
                        <img id="tempCover" src="{{book.coverUrl}}" class="listing-book-cover" />
                    </div>
                    <label for="coverUrl">Book Cover Url: </label>
                    <input name="image" type="text" oninput="updateCoverImg()" required />
                </div>

                {{!-- Book Info fields --}}
                <div class="grid-item size-12@p size-9@l">
                    <label>Book Title:</label>
                    <input name="bookTitle" type="text" maxlength="255" required />
                    <div class="grid-item size-12@l"></div>

                    <label>Author:</label>
                    <input name="author" type="text" maxlength="255" required />
                    <div class="grid-item size-12@l"></div>

                    <label>Synopsis:</label>
                    <textarea name="description" placeholder="Enter a description for the book..." maxlength="512"
                        rows="6" required></textarea>
                    <div class="grid-item size-12@l"></div>

                    <label>Bookseller Link:</label>
                    <input name="bookSellerLink" type="text" maxlength="255" required />
                    <div class="grid-item size-12@l"></div>

                    {{!-- Book Features fields --}}
                    <div class="grid-container">
                        <div class="grid-item size-12@p size-6@l inline-label-input">
                            <label>Chapters:&nbsp;&nbsp;</label>
                            <input name="bookChapters" type="text" maxlength="4" required />
                        </div>
                        {{!-- Pages field (for laptop) --}}
                        <div class="grid-item visible-flex@l hidden@p size-12@p size-6@l inline-label-input">
                            <label>Pages:&nbsp;&nbsp;</label>
                            <input name="bookPages" type="text" maxlength="10" required />
                        </div>
                        {{!-- Pages field (for phone) --}}
                        <div class="grid-item visible-flex@p hidden@l size-12@p size-6@l inline-label-input">
                            <label>Pages:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input name="bookPages" type="text" maxlength="10" required />
                        </div>
                    </div>

                </div>

                {{!-- Spacer and Horizontal Line --}}
                <div class="grid-item size-12@l"></div>
                <div class="grid-item size-12@p size-12@l horizontal-line"></div>

                {{!-- Cancel and Send Request buttons --}}
                {{!-- Buttons for laptop display --}}
                <div class="grid-item size-12@l visible-flex@l hidden@p">
                    <div class="grid-container justify-content-center">
                        <div class="grid-item size-6@p size-4@l">
                            <button class="btn btn-large full-width" type="button"
                                onclick="history.back()">Cancel</button>
                        </div>
                        <div class="grid-item size-6@p size-4@l">
                            <button class="btn btn-large btn-primary full-width" type="submit">Send Request</button>
                        </div>
                    </div>
                </div>
                {{!-- Buttons for phone display --}}
                <div class="grid-item size-12@p visible-flex@p hidden@l">
                    <div class="grid-container justify-content-center">
                        <div class="grid-item size-12@p size-12@l">
                            <button class="btn btn-large btn-primary full-width" type="submit">Send Request</button>
                        </div>
                        <div class="grid-item size-12@p size-12@l">
                            <button class="btn btn-large full-width" type="button"
                                onclick="history.back()">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>