<div class="grid-container justify-content-center">
    <div class="grid-item size-12@p size-6@l">
        <div class="grid-container justify-content-center">

            {{!-- Administrative Tools Header --}}
            <div class="grid-item size-12@p size-12@l text-align-center">
                <h1>Administrative Tools</h1>
            </div>

            {{!-- Box of Tools --}}
            <div class="grid-item size-12@p size-12@l border-thin">
                <div class="grid-container justify-content-center">

                    {{!-- Functions --}}
                    <div class="grid-item size-12@p size-12@l text-align-center">
                        <h2>Functions</h2>
                    </div>
                    <div class="grid-item size-12@p size-8@l text-align-center">
                        <a href="/admin/bookAdd"><button class="btn btn-primary full-width margin-xxsmall">Add a new book</button></a>
                        <a href="/admin/removeBook?ss="><button class="btn btn-primary full-width margin-xxsmall">Remove a book</button></a>
                        <a href="/admin/bookRequests"><button class="btn btn-primary full-width margin-xxsmall">View book requests</button></a>
                        <a href="/admin/createTags"><button class="btn btn-primary full-width margin-xxsmall">Create new tags</button></a>
                        <a href="/admin/addTags"><button class="btn btn-primary full-width margin-xxsmall">Add tags to a book</button></a>
                    </div>

                    {{!-- Spacer --}}
                    <div class="grid-item size-12@p size-12@l"></div>
                    
                    {{!-- Moderation --}}
                    <div class="grid-item size-12@p size-12@l text-align-center">
                        <h2>Moderation</h2>
                    </div>
                    <div class="grid-item size-12@p size-8@l text-align-center">
                        <a href=""><button class="btn btn-primary full-width margin-xxsmall">Mute a user</button></a>
                        <a href=""><button class="btn btn-primary full-width margin-xxsmall">Ban a user</button></a>
                        <a href=""><button class="btn btn-primary full-width margin-xxsmall">Delete review(s) from a book</button></a>
                    </div>

                    {{!-- Spacer --}}
                    <div class="grid-item size-12@p size-12@l"></div>

                </div>
            </div>

        </div>
    </div>
</div>
