<div class="grid-container justify-content-center">
    <div class="grid-item size-12@p size-11@l">
        {{!-- Create Tags Header--}}
        <div class="grid-item size-12@p size-12@l">
            <h1 class="text-align-center text-big-header">Create New Tags</h1>
        </div>
         <div class="grid-item size-12@p size-12@l horizontal-line"></div>


         <form>
            <div style="padding-left:0; padding-right:0;" class="grid-item size-12@p size-12@l">
                <label for="newTag"><b>Tag</b></label>
                <input name="newTag" type="text" maxlength="24" required />
            </div>

            {{!-- Spacer and Horizontal Line --}}
            <div class="grid-item size-12@l"></div>
            <div class="grid-item size-12@p size-12@l horizontal-line"></div>
            {{!-- Add button --}}
            <div style="padding-right:0;" class="grid-item size-12@p size-12@l text-align-right">
                <button type="submit" class="btn btn-large btn-secondary">Add tag to database</button>
            </div>
         </form>

         {{!-- Back Button --}}
        <div style="padding-right:0;" class="grid-item size-12@p size-12@l text-align-right">
            <button type="button" class="btn" onclick="history.back()">Back</button>
        </div>
        
    </div>
</div>