<p class="text-bold">class="text-bold"</p>
<p class="text-italic">class="text-italic"</p>
<p class="text-align-center">class="text-align-center"</p>
<p class="text-align-right">class="text-align-right"</p>
<p class="text-align-left">class="text-align-left"</p>
<p class="center">class="center"</p>

<button class="btn">class="btn"</button>
<button class="btn btn-large">class="btn btn-large"</button>
<button class="btn-outlined">class="btn-outlined"</button>

<button class="btn btn-primary">class="btn btn-primary"</button>
<button class="btn btn-large btn-primary">class="btn btn-large btn-primary"</button>
<button class="btn-outlined btn-primary">class="btn-outlined btn-primary"</button>

<button class="btn btn-secondary">class="btn btn-secondary"</button>
<button class="btn btn-large btn-secondary">class="btn btn-large btn-secondary"</button>
<button class="btn-outlined btn-secondary">class="btn-outlined btn-secondary"</button>

<div class="select-dropdown full-width">
    <select name="readStatus" onchange="this.form.submit()">
        <option value="Option 1">First Option</option>
        <option value="Option 2">2nd Option</option>
        <option value="Option 3">Option Number 3</option>
    </select>
</div>