<div class="grid-container justify-content-center" >
    <div class="grid-item size-12@p size-11@1">
        <div class="grid-container justify-content-center">
                    <div class=" box">
                    <br>
                    <img class="book-cover" src="https://i.guim.co.uk/img/media/d305370075686a053b46f5c0e6384e32b3c00f97/0_50_5231_3138/master/5231.jpg?width=1200&quality=85&auto=format&fit=max&s=dfc589d3712148263b1dd1cb02707e91" width="240" height="240">
                    <h2>About Us</h2>
                    <p>Our website houses a vast database of books for you to discover and read. If you don't already have an account set up please click <strong><a href="/signup">here</a></strong> to create an account.</p>
                </div>
                <div class=" box">
                    <br>
                    <img class="book-cover" src="https://img.freepik.com/free-vector/calendar-icon-white-background_1308-84634.jpg?w=2000" width="240" height="240">
                    <h2>Stay up to date</h2>
                    <p>Keep track of your book progress by tracking which titles you have read, plan to read or are currently reading.</p>
                </div>
                <br>
                <div class="box">
                    <br>
                    <img class="book-cover" src="https://fowmedia.com/wp-content/uploads/2011/09/top-10-list.jpg" width="240" height="240">
                    <h2>What have you read</h2>
                    <p>Create and manage your own list from the many books stored in our database. You can begin this process by browsing the Books page by clicking <strong><a href="/searchResults">here</a></strong> or searching for your desired book at the search bar.</p>

                </div>
                 <div class="box">
                    <br>
                    <img class="book-cover" src="https://static.vecteezy.com/system/resources/previews/003/524/872/original/customer-review-and-feedback-icon-with-check-mark-vector.jpg" width="240" height="240">
                    <h2>Give your favourite book a review.</h2>
                    <p>Write a review for a book you liked or even a book you didn't like for yourself or others to see and give the book itself a rating out of 10. </p>

                </div>
                 <div class="box">
                    <br>
                    <img class="book-cover" src="https://www.campusfrance.org/sites/default/files/organisation%20organigramme_3.jpg" width="240" height="240">
                    <h2>Join an online community and meet new people</h2>
                    <p>Add different people to creates new friends and to see what books they have read and what type of books they enjoy. </p>
                </div>
                    <div class="box">
                    <br>
                    <img class="book-cover" src="https://media.istockphoto.com/vectors/yes-no-check-box-list-marker-ticks-icons-vector-isolated-x-close-ok-vector-id1267105824?k=20&m=1267105824&s=612x612&w=0&h=izTDE-f-WUrIUSJSFZ2cxESIckmUsVnBdBpbNg1F5EA=" width="240" height="240">
                    <h2>Book not available?</h2>
                    <p>Our website allows users to make a book request if there are any books you have read and wish to add to your list that are not already in the database</p>
                </div>

                </div>
                </div>
                </div>


